<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>내장객체</h1>
	<h2>Object객체</h2>
	<p>
		자바스크립트의 가장 기본적인 내장 객체<br>
		모든 객체가 초기에 상속하는 객체이며 자바스크립트 객체 모델의 핵심적인 중요 메소드 제공
	</p>
	<button onclick="test1();">실행확인</button>
	<script>
		function test1(){
			var obj1 ={};
			var obj2 = new Object();
			console.log(obj1);
			console.log(obj2);
		}
	</script>
	<h3>Object객체의 기본 메소드</h3>
	<h4>hasOwnProperty() / propertyIsEnumerable()</h4>
	<button onclick="test2();">실행확인</button>
	<script>
		function test2(){
			var object = {
				name:'박신우',
				age:20
			};
			console.log(object);
			
			// hasOwnProperty() : 객체 안에 해당 속성이 존재하는지 확인하는 메소드
			console.log(object.hasOwnProperty('name'));
			console.log(object.hasOwnProperty('age'));
			console.log(object.hasOwnProperty('hobby'));
			
			// propertyIsEnumerable() : 해당 속성에 반복문을 사용할 수 있는지 확인하는 메소드
			console.log(object.propertyIsEnumerable('name'));
			console.log(object.propertyIsEnumerable('age'));
			console.log(object.propertyIsEnumerable('hobby'));
		}
		
	</script>
	
	<h2>Number객체</h2>
	<h3>toFixed()</h3>
	<p></p>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3(){
			var num1 = 123.456789;
			var num2 = 123;
			console.log('num1 : ' + num1);
			console.log('num2 : ' + num2);
			console.log(num1.toFixed(1));
			console.log(num1.toFixed(2));
			console.log(num1.toFixed(3));
			console.log(num2.toFixed(3));
			console.log(num2.toFixed(0));
			console.log(typeof num2.toFixed(0));  // stirng
			console.log(num2.toFixed(-1)); 
			// [Error] : toFixed() digits argument must be between 0 and 100 
		};
		
	</script>
	
	<h2>Date객체</h2>
	<button onclick="test4();">실행확인</button>
	<script>
		function test4(){
			var date1 = new Date();
			console.log(date1);
			var date2 = new Date('september 24');
			console.log(date2);
			var date3 = new Date('september 24, 2021');
			console.log(date3);
			var date4 = new Date('september 24, 2021 12:48:10');
			console.log(date4);
// 			var date5 = new Date(2021, 10, 19, 12, 49, 45); 
			// 달은 0부터 셈
			var date5 = new Date(2021, 9, 19, 12, 49, 45);
			console.log(date5);
			
			console.log(date1.getFullYear());
			console.log(date1.getMonth());
			console.log(date1.getDate());
			console.log(date1.getDay()); // 요일(숫자로 나옴)
			console.log(date1.getHours());
			console.log(date1.getMinutes());
			console.log(date1.getSeconds());
			console.log(date1.getMilliseconds());
			console.log(date1.getTimezoneOffset());
			console.log(date1.getTime());
			// 2021 10 19 화 14:05:43:584
			
			var time = new Date(1634619954295);
			console.log(time);
			var now = new Date();
			var start = new Date(2021, 7, 4);
			var end = new Date('January 25, 2022');
			
			var interval1 = now.getTime() - start.getTime();  // 얼마나 지났는지
			var interval2 = end.getTime() - now.getTime(); // 얼마나 남았는지
			var from = interval1 / (1000 * 60 * 60 * 24);  // 60*60 : 1시간 / 24 : 24시
			var to = interval2 / (1000 * 60 * 60 *24);
			
			console.log('개강한지 ' + from + '일 지났습니다.');
			console.log('종강까지 ' + to + '일 남았습니다.');
		}
	</script>
	
	
	
	
	<!-- UI기획 단계에서 usecase, 스토리보드, 화면구현 만들고 있어야함 
		  화면구현에선 기능은 넣지 말고 오직 화면만 최대한 많이 만들어 놓기(로그인, 회원가입, 게시판 ,..) 
		 11/2~11/12까지 웹페이지에 들어갈 기본적인 기능 배움
		 
	-->
</body>
</html>