<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	input[value="여행"]{margin-left: 95px;}
	input[value="컴퓨터"]{margin-left: 25px;}
	input[value="만화"]{margin-left: 20px;}
</style>
</head>
<body>
	<form>
		<fieldset>
			<legend>취미</legend>
			<input type="checkbox" value="selectAll" name="select">전체선택
			<input type='checkbox' value="종합" name="book">종합
			<input type='checkbox' value="소설" name="book">소설
			<input type="checkbox" value="시/에세이" name="book">시/에세이
			<input type="checkbox" value="경제/경영" name="book">경제/경영
			<input type="checkbox" value="자기계발" name=" book">자기계발
			<input type="checkbox" value="아동" name="book">아동<br>
			<input type="checkbox" value="여행" name="book">여행
			<input type="checkbox" value="과학" name="book">과학
			<input type="checkbox" value="역사/문화" name="book">역사/문학
			<input type="checkbox" value="외국어" name="book">외국어
			<input type="checkbox" value="컴퓨터" name="book">컴퓨터
			<input type="checkbox" value="만화" name="book">만화 
		</fieldset>
	</form>
	
</body>
</html>